@use "../../variables.scss" as *;

.home {
    max-width: 1240px;
    margin: auto;

    &__projets-container {
        display: flex;
        justify-content: flex-start;
        gap: 50px;
        flex-wrap: wrap;
        background-color: $background-color;
        padding: 50px 50px 50px 50px;
        border-radius: 25px;
    }


}