@use "../../variables.scss" as * ;

.error {
    color: red;
    font-size: 20px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: $main-font;
    margin-bottom: 150px;

    &__field {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}