$main-color: black;
$secondary-color: blue;
$background-color: #bbbbbb60;
$secondary-background-color: #A8D5D8;
$tertiary-background-color: #F6D2B8;
$button-color: #1D6154;
$main-font: Work Sans, sans-serif;