@use "../../variables.scss" as *;

header {
  width: 1240px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    display: flex;
    justify-content: space-between;
    gap: 50px;

    button {
      text-decoration: none;
      color: #333333;
      font-weight: 500;
      font-size: 24px;
      font-family: $main-font;
      border: none;
      background: none;
      margin: 0;
      padding: 0;
      cursor: pointer;
      
      &:hover {
        text-decoration: underline;
      }
      
    }

    a {
      text-decoration: none;
      color: #333333;
      font-weight: 500;
      font-size: 24px;

      &:hover {
        text-decoration: underline;
        text-decoration-style: solid;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    width: 100%;
    box-sizing: border-box;

    nav {
      gap: 15px;

      a{
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 17.11px;
        text-align: right;
        text-transform: uppercase;
      }
    }

  }
}