@use "../../variables.scss" as *;


.even {
  background-color: $secondary-background-color;
}

.odd {
  background-color: $tertiary-background-color;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 20px 40px rgba(0, 0, 0, 0.1);
}

.card {

  border-radius: 10px 10px 10px 10px;
  height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
  position: relative;

  a {
    text-decoration: none;
  }

  &__title {
    padding-left: 20px;
  }

  &__snippet {
    padding-left: 20px;
  }

  &__image {
    object-fit: inside;
    width: 545px;
    height: 306px;
    border-radius: 10px 10px 0px 0px;
  }

  &__open {
    position: absolute;
    border:none;
    top: 0px;
    left: 5px;
    font-size: 30px;
    cursor: pointer;
    background-color: black;
    color: white;
  }

  &__delete {
    position: absolute;
    top: 0px;
    right: 5px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }

    &__close {
      background: none;
      border: none;
      font-size: 20px;
      font-weight: 700;
      position: absolute;
      top: 15px;
      left: 15px;
      cursor: pointer;
  }


  &__modale {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    border-radius: 10px;
    width: 1140px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 768px) {

  .card {

    width: 100%;
    height: auto;
    padding-bottom: 12px;

    &__image {
      width: 100%;
      height: auto;
    }

    &__title {
      text-align: center;
    }

    &__snippet {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
    }

    &__modale {
      width: 100%;
      padding: 5px;
      border-radius: 5px;
    }
  }
}